<!doctype html>
<html>
	<head>
		<title> hobbies </title>
	</head>
	<body>
		<h1> welcome <%- name %> </h1>
		<ul>
			<li>watching movies</li>
			<li>playing pubg</li>
			<li>web development</li>
			<li>browsing net</li>
		</ul>
		<% if(isLoggedIn) {%>
			<h1> HEY ADMIN HOW ARE YOU <h1>
		<%} %>
	</body>
</html>